<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link href="/css/index.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="grid-container-h">

            <img class="dqk" src="/images/dqk.png" alt="DQK">
                    <span class="vl"></span>
            <div class="upper-right">
                <h1>@ SHiguys</h1>
                <h1>PASTEL</h1>
                <h1>PISTACHIO</h1>
            </div>
        </div>
    </header>

    <div class="hl"></div>
</body>

</html>