.logo {
    width: 40px;
    height: 40px;
    padding-right: 20px;
    padding-left: 10px;
    vertical-align: bottom;
}

.vl {
    border-left: 2px solid rgb(94, 94, 94);
    padding-left: 20px;
    height: 15px;

}

.hl {
    border-top: 2px solid rgb(94, 94, 94);
    padding-top: 50px;
}

.grid-container-h {
    display: grid;
    grid-template-columns: auto auto 10px;
}

.upper-right {
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;

}

.black-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.middle {
    width: 1000px;
    padding-bottom: 0px;
    margin: auto;
}

.pic {
    height: 300px;
    width: 400px;
    padding-right: 20px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}